{% extends 'layout.html' %}

{% block body %}

{% include 'includes/_messages.html' %}

<div class="container">
    <img src="/static/img/logo.png" alt="SL COIN" style="width:10%;" id="logo">
    <h4 class="text-center text-light">SLcoin(SLC) Cyrptocurrency wallet</h4>
    <br>
    <p  style="text-align: justify; text-justify: inter-word; color:#000000;">
        SLcoin(SLC) cyrptocurrency wallet was implemented using python and flask.
        We simplify the use of sending money by our user-friendly interface and efficient servers.
        This token was based on smart blockchain. In “Smart Blockchain”, one or more block producers
        smart contract (BPSC) is present in the network, and no successful transaction is performed
        without BPSC involvement. For a successful transaction in the network, first, the sender must
        send the cryptocurrency to the wallet of BPSC and then BPSC sends cryptocurrency automatically
        to the receiver. This simple action has led the BPSC to have all network transactions’ data accurately
        and flawlessly and then as an accurate and trust financial institution, record transactions’ data into
        a new block and add this new block to the end of the blockchain so there would be no task for miners in “Smart Blockchain”.

    </p>
</div>




{% endblock %}
