<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SLcoin</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <script src="/static/js/index.js"></script>
</head>

<body class="is-boxed has-animations" style="height: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="/">
                                <svg width="32" height="32">
                                    <title>SLcoin</title>
                                </svg>
                            </a>
                        </h1>
                    </div>
                    <ul class="header-links list-reset m-0">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        <li>
                            <a class="button button-sm button-shadow" href="/key_wraning">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-light text-center">
                <div class="container-sm" id="container_index">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing" style="visibility: visible;">SLcoin(SLC) Cyrptocurrency Wallet</h1>
                        <p class="hero-paragraph is-revealing" style="visibility: visible;">SLcoin is a cyrptocurrency wallet implemented using python and flask. We simplify the use of sending money by our user-friendly interface and efficient servers.</p>
                        <p class="hero-cta is-revealing" style="visibility: visible;"><a class="button button-secondary button-shadow" href="/key_wraning">Get started now</a></p>

                    </div>
                </div>
            </section>

        </main>

        <footer class="site-footer">
            <div class="container">

            </div>
        </footer>
    </div>
    <script src="/static/js/main.js"></script>

</body>
</html>
