<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SLcoin</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/vender/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/vender/datatables/dataTables.bootstrap4.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <script src="/static/js/index.js"></script>
</head>

<body class="is-boxed has-animations" style="height: 100%;">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                    </div>
                    <ul class="header-links list-reset m-0">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a class="button button-sm button-shadow" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <main>
                <div class="container-sm">
                        <div class="card card-register mx-auto mt-5">
                            <div class="card-header text-center"><h6>Generate Account Keys</h6></div>
                            <div class="card-body">
                                <div class="row text-left">
                                    <div class="col-sm-12 col-md-3 icon" >
                                        <img src="/static/img/loss.svg">
                                    </div>
                                    <div class="col-sm-12 col-md-9 text" style="margin-top:20px">
                                        <h5 style="color:Tomato;">Don't loss key</h5>
                                        <p>Be careful.it can not be recovered if you lose it.</p>
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="col-sm-12 col-md-3 icon" >
                                        <img src="/static/img/share.svg">
                                    </div>
                                    <div class="col-sm-12 col-md-9 text" style="margin-top:20px">
                                        <h5 style="color:Tomato;">Don't share key</h5>
                                        <p>Your funds will be stolen if you use this key on a malicious phishing site.</p>
                                    </div>
                                </div>
                                <a class="button button-secondary button-shadow " href="/register" style="display: flex; justify-content: center; align-items: center;">Understand it</a>
                              </div>
                        </div>
                </div>

        </main>

        <footer class="site-footer">
            <div class="container">

            </div>
        </footer>
    </div>
    <script src="/static/js/main.js"></script>

</body>
</html>
